 {% load static %}


 <!-- Navbar -->
 <nav class="main-header navbar navbar-expand-md navbar-dark">
   <div class="container">
     <a href="../../index3.html" class="navbar-brand">
       <img src="{% static 'core/custom/img/dam-logo.png' %}" alt="Foto DAM" class="img-size-50 mr-3 img-circle">

       <strong> <span class="brand-text text-danger">FotoDAM</span></strong>
     </a>

     <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse order-3" id="navbarCollapse">
       <!-- Left navbar links -->
       <ul class="navbar-nav">

       </ul>

     </div>

     <!-- Right navbar links -->
     <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

       <li class="nav-item">
         <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
           <i class="fas fa-user-astronaut"></i>&nbsp; <strong><span class="text-green"> {{request.user|upper}}</span> </strong>

         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" data-widget="" data-slide="true" href=" {% url 'core:logoutpage' %} " role="button">
           <i class="fas fa-sign-out-alt"></i>&nbsp; Salir
         </a>
       </li>
     </ul>
   </div>
 </nav>
 <!-- /.navbar -->